#contact-svg-fig {
    height: 350px; /*change to 100%*/
    width: 200px;
    position: relative;
    overflow: hidden;
    background-color: #444;
    margin: 0;
}
#contact-svg-fig img {
    position: absolute;
}
#contact-svg-fig div {
    position: absolute;
    width: 80%;
    margin-left: 12%;
    bottom: 0;
    height: 70%;

}

#svg-grey {
    height: 100%;
    /* margin-left: 8%;
    bottom: 0; */
}
#svg-blue {
    /* display: none; */
    height: 15%;
    right: 21%;    
}
#svg-blue-dotted {
    display: none;

}
#svg-black-dotted {
    display: none;

}