* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --paginationBtn: #efefef;
  --font-h: 'Poppins', sans-serif;
  --font-p: 'DM Sans', sans-serif;
  --color-text: #090909;
  --color-text-grey: #949494;
  --bg-main: #fff;
  --un-blue: #0068b3;
  /* skift til FN blå */
  --vm-1: #e5243b;
  --vm-2: #dda63a;
  --vm-3: #4c9f38;
  --vm-4: #c5192d;
  --vm-5: #ff3a21;
  --vm-6: #26bde2;
  --vm-7: #fcc30b;
  --vm-8: #a21942;
  --vm-9: #fd6925;
  --vm-10: #dd1367;
  --vm-11: #fd9d24;
  --vm-12: #bf8b2e;
  --vm-13: #3f7e44;
  --vm-14: #0a97d9;
  --vm-15: #56c02b;
  --vm-16: #00689d;
  --vm-17: #19486a;
  --border-radius: 1rem;
  --box-shadow: 0 4px 5px rgb(0 0 0 / 0.3);
}

p,
span,
a {
  font-family: var(--font-p);
  color: var(--color-text);
}

p {
  display: block;
  margin: 1rem 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-h);
  line-height: 1.15;
}

.blaze-pagination button.active {
  transform: scale(1.5);
  background-color: var(--paginationBtn);
}

html {
  background-color: var(--bg-main);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
  background-position: center bottom;
  background-size: cover;
  /* background-image: url(/src/assets/images/dummy-bg.jpg); */
  height: 60vh;
  width: 100%;
}

#hero-bg {
  pointer-events: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--vm-11);
  z-index: -1;
}

#hero-bg span {
  display: block;
  background-color: white;
}

a {
  text-decoration: none;
}

section {
  width: clamp(2ch, 1100px, 90vw);
  padding-block: 2em;
}

.logo {
  width: 12vw;
}

nav {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: clamp(2ch, 1100px, 90vw);
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.blaze-btn {
  background-color: var(--bg-main);
  border: none;
  outline: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
}

#grid-wrapper img {
  max-width: 100%;
}

/* --- grid --- */
#grid-wrapper {
  width: 100%;
}

#goal-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  max-width: 1100px;
  margin: auto;
  padding: 2em 0;
}

#no-goal {
  margin: auto;
}

@media (max-width: 800px) {
  #goal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#goal-grid:has(li:hover) li:not(:hover) {
  opacity: 0.5;
  scale: 0.96;
}

#goal-grid li {
  transition: 600ms;
  height: fit-content;
  cursor: pointer;
}

#mini-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
}

#mini-grid span {
  display: inline-block;
  background-color: var(--vm-11);
  width: 1em;
  height: 1em;
}

.slider {
  height: 100%;
}

.slide {
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

dialog {
  width: clamp(2ch, 700px, 90vw);
  height: 90vh;
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.dialog-content {
  padding: 2rem 1rem;
}

/* ====================Nyheder============================== */

.article {
  display: flex;
  flex-direction: column;
}

.article h3,
.article h2 {
  text-align: center;
  margin: 50px;
}

.article img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.article figure {
  margin: 0;
}

.article p {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.article footer {
  text-align: right;
  margin-right: 20%;
  margin-top: 3%;
}

.article footer a {
  text-decoration: none;
  color: bl;
}

/* ======================kontakt============================ */

.contact {
  display: block;
  position: relative;
}

.contact h2 {
  color: var(--un-blue);
  letter-spacing: 5px;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 200px;
}

.contact h1 {
  font-size: 72px;
}

.contact p {
  font-size: 24px;
  color: #8c8888;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  height: 400px;
}

.inputs,
.labels {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

form div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}



form label {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--un-blue);
  font-weight: bold;
  margin: 40px 0 40px 0;
}

form input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 40px;
}

#submit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 40px;
  background-color: var(--un-blue);
  color: white;
  opacity: 70%;
  border: none;
  margin-top: 30px;
  flex-direction: flex-end;
}

#yourmessage {
  resize: none;

}

#figure {
  position: absolute;
  display: block;
  right: 0;
  top: 300px;
}

#ball {
  width: 100px;
  height: 100px;
  background-color: #0068B3;
  border-radius: 100%;
  outline: 10px solid white;
  position: absolute;
  right: 30px;
}

#graybox {
  height: 640px;
  width: 400px;
  background-color: #C4C4C4;
  border-radius: 0 50% 0 0;
}

#dots {
  display: block;
  position: relative;
  opacity: 50%;
}

.blackdots {
  display: block;
  position: absolute;
  right: -150px;
  top: 87%;
}

.bluedots {
  display: block;
  position: absolute;
  right: 380px;
  top: 200px;
  margin: -3rem;
}


/* ============================================= */

#menu {
  position: relative;
}

#menu::before {
  display: inline-block;
  content: '';
  vertical-align: text-top;
  min-width: 1rem;
  min-height: 1rem;
  background-image: url('/src/assets/images/dropdown-arrow.svg');
  background-position: center;
  background-size: contain;
  margin-right: 4px;
  cursor: pointer;
  transition: all 350ms;
}

#menucheck {
  display: none;
}

#menucheck:checked~#menu::before {
  rotate: 0.5turn;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  top: 29px;
  right: -32px;
  width: 102.5px;
  font-family: 'Inter', sans-serif;
  box-shadow: var(--box-shadow);
}

.dropdown li {
  text-align: center;
}

.detvejegik {
  display: flex;
}

#newsslider {
  width: 100%;
  background-color: var(--un-blue);
  position: relative;
}

#newsimages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 3rem 4rem;
}

#newsimages img {
  width: 100%;
  height: 100%;
}

#newsbutton1,
#newsbutton2 {
  border: none;
  background: transparent;
  color: var(--bg-main);
  font-size: 4rem;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

#newsbutton1 {
  left: 0.8rem;
}

#newsbutton2 {
  right: 0.8rem;
}

.newnew {
  display: flex;
  flex-direction: column;
  gap: 8vh;
}

.info-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr;
}

.about-box .info-content p {
  font-size: 1rem;
}

.about-box span {
  margin: 2em 0;
}

.subheading {
  color: var(--un-blue);
  letter-spacing: 0.4rem;
  font-size: 80%;
}

.info-box img {
  width: 100%;
}

.info-box video {
  width: 100%;
}

.content-wrapper {
  position: relative;
  margin: 0;
  padding-left: 2rem;
}

.lil-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 4em;
  height: 2px;
  bottom: 0;
  right: 0;
  background-color: #090909;
  color: transparent;
  transition: 360ms;
  overflow: hidden;
}

.info-box:hover .lil-lines,
.info-box:hover .lil-lines span,
.info-box-alt:hover .lil-lines,
.info-box-alt:hover .lil-lines span {
  height: 20%;
  background-color: var(--vm-14);
  color: var(--bg-main);
  cursor: pointer;
  user-select: none;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-left: 6px solid var(--un-blue);
  padding: 5px 2rem;
  margin: 2em 0;
  height: fit-content;
}

.info-content p {
  color: var(--color-text-grey);
  font-size: 80%;
  margin: 0;
}

.info-box-alt {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.info-box-alt::after,
.info-box-alt::before {
  position: absolute;
  left: 0;
  content: '';
  display: inline-block;
  height: 40%;
  width: 100%;
  background-color: var(--un-blue);
  z-index: -1;
  transition: 500ms;
}

.info-box-alt:hover::before {
  right: 0;
  width: 30%;
  background-color: var(--vm-9);
}

.info-box-alt:hover::after {
  left: 50%;
  width: 50%;
  background-color: var(--vm-11);
}

.info-box-alt img {
  width: 100%;
  height: 85%;
  margin: auto;
  object-fit: contain;
  object-position: 100% 0;
}

.info-box-alt .info-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-left: 6px solid transparent;
  padding: 5px 2rem;
  margin: 2em 0;
  height: fit-content;
}

.about-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 900px) {
  .info-box-alt:hover .info-content>* {
    color: white !important;
  }

  .info-box-alt::after {
    height: 100%;
    width: 35%;
    background-color: var(--un-blue);
  }

  .info-box-alt::before {
    height: 50%;
    width: 35%;
    background-color: var(--un-blue);
  }

  .info-box {
    gap: 5rem;
    grid-template-columns: 1.2fr 0.8fr;
  }

  .info-box-alt {
    gap: 1rem;
    grid-template-columns: 1.2fr 0.8fr;
  }

  .about-box {
    display: grid;
    gap: 1em;
    grid-template-columns: 0.1fr 0.95fr 0.95fr;
  }
}