* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --paginationBtn: #efefef;
  --font-alt: 'Open Sans', sans-serif;
  --font-main: 'Inter', sans-serif;
  --color-text: #090909;
  --bg-main: #fff;
  --un-blue: #0068b3; /* skift til FN blå */
  --vm-1: #e5243b;
  --vm-2: #dda63a;
  --vm-3: #4c9f38;
  --vm-4: #c5192d;
  --vm-5: #ff3a21;
  --vm-6: #26bde2;
  --vm-7: #fcc30b;
  --vm-8: #a21942;
  --vm-9: #fd6925;
  --vm-10: #dd1367;
  --vm-11: #fd9d24;
  --vm-12: #bf8b2e;
  --vm-13: #3f7e44;
  --vm-14: #0a97d9;
  --vm-15: #56c02b;
  --vm-16: #00689d;
  --vm-17: #19486a;
  --border-radius: 1rem;
  --box-shadow: 0 4px 5px rgb(0 0 0 / 0.3);
}

p,
span,
a {
  font-family: var(--font-main);
  color: var(--color-text);
}

p {
  display: block;
  margin: 1rem 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-alt);
}
.blaze-pagination button.active {
  transform: scale(1.5);
  background-color: var(--paginationBtn);
}

html {
  background-color: var(--bg-main);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 8vh;
  background-position: center bottom;
  background-size: cover;
  /* background-image: url(/src/assets/images/dummy-bg.jpg); */
  height: 60vh;
  width: 100%;
}

#hero-bg {
  pointer-events: none;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--vm-11);
  z-index: -1;
}

#hero-bg span {
  display: block;
  background-color: white;
}

a {
  text-decoration: none;
}

section {
  width: clamp(2ch, 1100px, 90vw);
  padding-block: 2em;
}

.logo {
  width: 12vw;
}

nav {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: clamp(2ch, 1100px, 90vw);
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.blaze-btn {
  background-color: var(--bg-main);
  border: none;
  outline: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
}

#grid-wrapper img {
  max-width: 100%;
}

/* --- grid --- */
#grid-wrapper {
  width: 100%;
}

#goal-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
  padding: 2em 0;
}
@media (max-width: 800px) {
  #goal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

#goal-grid:has(li:hover) li:not(:hover) {
  opacity: 0.5;
  scale: 0.96;
}

#goal-grid li {
  transition: 600ms;
  height: fit-content;
  cursor: pointer;
}
#mini-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.8rem;
}

#mini-grid span {
  display: inline-block;
  background-color: var(--vm-11);
  width: 1em;
  height: 1em;
}

.slider {
  height: 100%;
}

.slide {
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

dialog {
  width: clamp(2ch, 700px, 90vw);
  height: 90vh;
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.dialog-content {
  padding: 2rem 1rem;
}

/* ====================Nyheder============================== */

.article {
  display: flex;
  flex-direction: column;
}

.article h3,
h2 {
  text-align: center;
  margin: 50px;
}

.article img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}

.article figure {
  margin: 0;
}

.article p {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

.article footer {
  text-align: right;
  margin-right: 20%;
  margin-top: 3%;
}

.article footer a {
  text-decoration: none;
  color: bl;
}

/* ======================kontakt============================ */

form {
  display: flex;
  flex-direction: column;
}

#menu {
  position: relative;
}

#menu::before {
  display: inline-block;
  content: '';
  vertical-align: text-top;
  min-width: 1rem;
  min-height: 1rem;
  background-image: url('/src/assets/images/dropdown-arrow.svg');
  background-position: center;
  background-size: contain;
  margin-right: 1px;
  cursor: pointer;
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  top: 29px;
  right: -32px;
  width: 102.5px;
  font-family: 'Inter', sans-serif;
  box-shadow: var(--box-shadow);
}
.dropdown li {
  text-align: center;
}

.detvejegik {
  display: flex;
}













#newsslider {
  width: 100%;
  background-color: var(--un-blue);
  position: relative;
}

#newsimages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 3rem 4rem;
}
#newsimages img {
  width: 100%;
  height: 100%;
}
#newsbutton1, 
#newsbutton2 {
  border: none;
  background: transparent;
  color: var(--bg-main);
  font-size: 4rem;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
#newsbutton1 {
  left: 0.8rem;
}
#newsbutton2 {
  right: 0.8rem;
}